# vim:syntax=systemd
[Unit]
Description=Periodically run session cleanup script for a single user
Documentation=man:bash-builtins(7) man:kill(1)

[Timer]
OnCalendar=*-*-* *:00/15:00
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
